img {
    height: 14%;
    width: 20%;
}
.mobileScreen {
    height: 896px;
    width: 414px;
    background-color:#4de5c3;
}
.appScreen {
    display: grid;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0d866e;
    box-shadow:  1px 1px 20px rgba(10,10,10,0.4);
}
.icon {
    padding:4px;
}
.titleWords {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;
}
.title {
    margin: 0;
    padding: 0;
    color: white;
}
.inverse {
    color:white;
}

.card {
    background-color: white;
    border-radius: 12px;
    margin:1em;
    padding:4px;
    box-shadow: inset 0px -4px 10px rgba(100,100,100,0.4);
}